{{ define "telegram.default" }}
{{ range .Alerts }}
{{ if eq .Status "firing" }} <b>🔥 {{ .Status | toUpper }} 🔥</b> {{ else }} <b>✅ {{ .Status | toUpper}} ✅</b> {{ end }}
{{ .Annotations.summary }}
{{ .Annotations.description }}
{{ if eq .Status "firing"}} <b>Started:</b> {{ .StartsAt | since }} ago {{else}} <b>Duration:</b> {{ duration .StartsAt .EndsAt }} {{ end }}
{{ end }}
{{ end }}
